<h2 mat-dialog-title>Edit a Call Tree</h2>
<form #callTreeEditForm="ngForm" (ngSubmit)="onSubmit(callTreeEditForm)" novalidate>
  Modify this call tree is/are affected the following system(s):
  <table>
    <tr>
      <td>Division:</td><td>System:</td>
    </tr>
    <tr *ngFor="let callTreeEntry of callTreeEntryList">
      <td style="text-align: center;">{{callTreeEntry.division}}</td>
      <td [innerHtml]="callTreeEntry.systemName|safeHtml"></td>
    </tr>
  </table>
  <app-call-tree [callTree]="this.callTree"></app-call-tree>
  <mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary" class="Update-btn">Save</button>
    <button mat-raised-button type="button" class="Discard-btn" (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</form>
Dirty:{{callTreeEditForm.dirty}}<br>
Valid:{{callTreeEditForm.valid}}
