<h2 mat-dialog-title>Edit a Operation Manual</h2>
<form #manualEditForm="ngForm" (ngSubmit)="onSubmit(manualEditForm)" novalidate>
  <input type=hidden name="callTreeEntryId" [(ngModel)]="this.callTreeEntryId">
  <app-manual-list  
    name="manuals" 
    [message]="this.message"
    [manuals]="this.callTreeEntry.manuals">
  </app-manual-list>
  <mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary" class="Update-btn">Save</button>
    <button mat-raised-button type="button" class="Discard-btn" (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</form>
Dirty:{{manualEditForm.dirty}}<br>
Valid:{{manualEditForm.valid}}
