<mat-form-field>
  <mat-label>Division</mat-label>
    <input matInput type="text"
      [(ngModel)]="division"
      required
      [matAutocomplete]="divisions"
      name="division2"
      [divisionValidator]="this.divisionList"
      (ngModelChange)="autoCompleteFilter($event)"
      #division2="ngModel">
      <mat-error *ngIf="division2.hasError('invalidDivisionName')">
        {{division2.errors['invalidDivisionName']}} is not a valid divison name.
      </mat-error>
      <mat-error *ngIf="division2.hasError('required')">
        Division Name is <strong>required</strong>
      </mat-error>
      <mat-autocomplete  #divisions="matAutocomplete">
        <mat-option *ngFor="let division of this.filteredDivisionList" [value]="division">
          {{ division }}
        </mat-option>
      </mat-autocomplete>
</mat-form-field>
